{% extends "bootstrap.html" %}
{% block container_content %}
<div class="row">
  <div class="span9">
    <h1>Dashboard</h1>
    <a href="#addGoalModal" role="button" class="btn btn-primary" data-toggle="modal" style="float:right;"><i class="icon-plus icon-white"></i> Add a Goal</a>
    <h2>Goals</h2>
    <div id="current-goals-map"></div>
  </div>
  <div class="span3">
    <h3>News Feed</h3>
    <ul class="thumbnails">
      <li class="span3">
      <div class="thumbnail">
        <img src="http://bit.ly/Y8y79d" class="img-rounded img-meme" />
        Frank got busted at McDonalds! What a fatty. #ShameMe
      </div>
      </li>
      <li class="span3">
      <div class="thumbnail">
        <img src="http://bit.ly/Asmu6B" class="img-rounded img-meme" />
        Ben accomplished his goal to not smoke for a week! #ShameMe
      </div>
      </li>
      <li class="span3">
      <div class="thumbnail">
        <img src="http://cdn.memegenerator.net/instances/400x/20123428.jpg" class="img-rounded img-meme" />
        Vivianne has not shopped for 8 days! Way to go! #ShameMe
      </div>
      </li>
      <li class="span3">
      <div class="thumbnail">
        <img src="http://t.qkme.me/36ay6p.jpg" class="img-rounded img-meme" />
        Jerome added visit his grandma once a week to his goals! #ShameMe
      </div>
      </li>

    </ul>

  </div>
</div>
<div id="addGoalModal" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="addGoalModalLabel" aria-hidden="true" data-backdrop="static">
  <form class="form-horizontal" id="addGoalForm">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="addGoalModalLabel">Add a Goal</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
          <input type="text" id="inputName" placeholder="Gym">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDesired">Go there?</label>
        <div class="controls">
          <select id="inputDesired">
            <option value="yes">Yes, I want to go there</option>
            <option value="no">No, I need to avoid this place</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputCount">How many times?</label>
        <div class="controls">
          <input type="number" id="inputCount" min="1" max="10" value=1>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputExpires">Deadline</label>
        <div class="controls">
          <select id="inputExpires">
            <option value="86400">1 Day</option>
            <option value="259200">3 Days</option>
            <option value="604800" selected>1 Week</option>
            <option value="1209600">2 Weeks</option>
            <option value="2592000">1 Month</option>
            <option value="7776000">3 Months</option>
            <option value="15552000">6 Months</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputRadius">How close?</label>
        <div class="controls">
          <select id="inputRadius">
            <option value="20">60 feet</option>
            <option value="40">120 feet</option>
            <option value="80" selected>250 feet</option>
            <option value="160">1/10th of a mile</option>
            <option value="402">1/4 of a mile</option>
            <option value="804">1/2 of a mile</option>
          </select>
        </div>
      </div>
      <input type="hidden" id="inputLatitude">
      <input type="hidden" id="inputLongitude">
      <div id="add-goal-map"></div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Add Goal</button>
    </div>
  </form>
</div>

<div id="savingModal" data-backdrop="static" data-keyboard="0" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="savingModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="savingModalLabel">Saving</h3>
  </div>
  <div class="modal-body">
  </div>
</div>


{% endblock %}
{% block additional_javascript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false"></script>
<script>
  var currentGoalsMap;
  var defaultLocation = new google.maps.LatLng(29.716421,-95.415195);
  var addGoalMap = null;
  var newGoalMarker = null;
  var newGoalCircle = null;

  function initialize() {
    var mapOptions = {
      zoom: 14,
      center: defaultLocation,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    currentGoalsMap = new google.maps.Map(document.getElementById('current-goals-map'),
    mapOptions);

    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        defaultLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
        currentGoalsMap.setCenter(defaultLocation);
        }, function() {
      });
    }
    loadGoals();
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  function updateNewGoalCircle() {
    if (newGoalCircle == null || newGoalMarker == null) {
      return;
    }
    var color = $('#inputDesired').val() == 'yes' ? 'green' : 'red';

    newGoalCircle.setCenter(newGoalMarker.getPosition());

    newGoalCircle.setRadius(parseInt($('#inputRadius').val()));
    newGoalCircle.setOptions({
      fillColor: color,
      strokeColor: color
    });
  }

  function loadGoal(id) {
    $.ajax('/goals/'+id+'/', {
      dataType: 'json',
      success: function(data, textStatus, xhr) {
        if (data.hasOwnProperty('error')) {
          alert(data['error']);
          return;
        }
        displayGoal(data);
      }
    });
  }

  function loadGoals() {
    $.ajax('/goals/', {
      dataType: 'json',
      success: function(data, textStatus, xhr) {
        if (data.hasOwnProperty('error')) {
          alert(data['error']);
          return;
        }
        for (var i=0; i < data.length; i++) {
          displayGoal(data[i]);
        }
      }
    });
  }

  function displayGoal(data) {
    var location = new google.maps.LatLng(data['latitude'], data['longitude']);
    var color = data['desired'] ? 'green': 'red';
    var goalCircle = new google.maps.Circle({
      map: currentGoalsMap,
      center: location,
      fillOpacity: 0.35,
      strokeOpacity: 1,
      radius: parseInt(data['radius']),
      fillColor: color,
      strokeColor: color});

    var goalMarker = new google.maps.Marker({
      map: currentGoalsMap,
      position: location
    });

    var infoContent = '<div>' + 
      '<h3>' + data['name'] + '</h3>' +
      '<div>' + 
        '<p>' + data['description'] + '</p>' + 
        '</div>' + 
      '</div>';

    var infoWindow = new google.maps.InfoWindow({
      content: infoContent,
      position: location
    });

    google.maps.event.addListener(goalMarker, 'click', function() {
      infoWindow.open(currentGoalsMap, goalMarker);
    });
  }


  $('#addGoalModal').on('shown', function () {
    if (addGoalMap == null) {
      var mapOptions = {
        zoom: 16,
        center: defaultLocation,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      addGoalMap = new google.maps.Map(document.getElementById('add-goal-map'),
      mapOptions);
      newGoalMarker = new google.maps.Marker({
        map: addGoalMap,
        position: defaultLocation,
        draggable: true,
        zIndex: 2
      });
      newGoalCircle = new google.maps.Circle({
        map: addGoalMap,
        center: defaultLocation,
        radius: 1,
        fillOpacity: 0.35,
        strokeOpacity: 1,
        zIndex: 1
      });

      updateNewGoalCircle();

      $('#inputLongitude').val(defaultLocation.lng());
      $('#inputLatitude').val(defaultLocation.lat());

      google.maps.event.addListener(newGoalMarker, 'dragend', function() {
        var newPosition = newGoalMarker.getPosition();
        $('#inputLongitude').val(newPosition.lng());
        $('#inputLatitude').val(newPosition.lat());
        updateNewGoalCircle();
      });

      $('#inputRadius').change(updateNewGoalCircle);
      $('#inputDesired').change(updateNewGoalCircle);
    }
  });

  $('#addGoalForm').submit(function (e) {
    e.preventDefault();
    var data = {
      name: $('#inputName').val(),
      latitude: $('#inputLatitude').val(),
      longitude: $('#inputLongitude').val(),
      radius: $('#inputRadius').val(),
      expires: parseInt($('#inputExpires').val()) + Math.round(new Date().getTime() / 1000),
      count: $('#inputCount').val(),
      desired: $('#inputDesired').val()
    };

    var error = false;

    if (data['name'] == '') {
      error = true;
      alert('Name is required');
    }
    if (data['count'] == '') {
      error = true;
      alert('Count is required');
    }

    if (!error) {
      $.ajax('{{ handler.uri_for('goals-create') }}', {
        cache: false,
        type: 'POST',
        data: data,
        dataType: 'json',
        success: function(data, textStatus, xhr) {
          $('#savingModal').modal('hide');
          if (data.hasOwnProperty('error')) {
            alert('Error creating the goal: ' + data['error']);
            return;
          }
          if (data.hasOwnProperty('created')) {
            loadGoal(data['created']);
            return;
          }
          alert('Error creating the goal');

        },
        error: function(xhr, textStatus, errorThrown) {
          $('#savingModal').modal('hide');
          alert('There was an error creating the goal');
        }
      });
      $('#addGoalModal').modal('hide');
      $('#savingModal').modal('show');
      $('#inputName').val('');
      $('#inputCount').val(1);
      $('#inputDesired').val('yes');
      $('#inputRadius').val(80);
      $('#inputExpires').val(604800);
      $('#inputLongitude').val(defaultLocation.lng());
      $('#inputLatitude').val(defaultLocation.lat());

      newGoalMarker.setPosition(defaultLocation);
      updateNewGoalCircle();
    }

  });

</script>
{% endblock %}
